<div class="container">

<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<div class="btn-group">
	<%= link_to 'Show', @event, class: "btn btn-primary" %>
	<%= link_to 'Back', events_path, class: "btn btn-outline-dark" %>
</div>

</div>