<div class="container">

<h1>Editing Subject</h1>

<%= render 'form', subject: @subject %>

<div class="btn-group">
	<%= link_to 'Show', @subject, class: "btn btn-primary" %>
	<%= link_to 'Back', subjects_path, class: "btn btn-outline-dark" %>
</div>

</div>